<ion-header>
  <ion-toolbar>
    <ion-title>
      FIPE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div style="  margin: auto;
  width: 80%;
  padding: 9%;margin-top: 18%;">
        <ion-button expand="full" color="primary" Onclick="listaCarros();">Carros</ion-button>
        <ion-button expand="full" color="primary" Onclick="listaMotos();">Motos</ion-button>
        <ion-button expand="full" color="primary" Onclick="listaCaminhoes();">Caminhões</ion-button>
    </div>
</ion-content>
