<ion-header>
  <ion-toolbar>
    <ion-title>
      Consulta FIPE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div style="  margin: auto;
  width: 90%;
  padding: 9%;margin-top: 18%;">
        <ion-button expand="full" color="primary" (click)="listaMarcas('carros');"> Carros</ion-button>
        <ion-button expand="full" color="primary" (click)="listaMarcas('motos');">Motos</ion-button>
        <ion-button expand="full" color="primary" (click)="listaMarcas('Caminhoes');">Caminhões</ion-button>
    </div>
</ion-content>

